<p style="color: green"><%= notice %></p>

<%= render @cotiza_compuertum %>

<div>
  <%= link_to "Edit this cotiza compuertum", edit_cotiza_compuertum_path(@cotiza_compuertum) %> |
  <%= link_to "Back to cotiza compuerta", cotiza_compuerta_path %>

  <%= button_to "Destroy this cotiza compuertum", @cotiza_compuertum, method: :delete %>
</div>
