<p style="color: green"><%= notice %></p>

<%= render @capacidad_compuertum %>

<div>
  <%= link_to "Edit this capacidad compuertum", edit_capacidad_compuertum_path(@capacidad_compuertum) %> |
  <%= link_to "Back to capacidad compuerta", capacidad_compuerta_path %>

  <%= button_to "Destroy this capacidad compuertum", @capacidad_compuertum, method: :delete %>
</div>
